<div id="dashboard-analytics" class="page-layout blank">

    <div class="main-widget">

        <div class="position-relative p-24 blue-600"
             fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Datapoints over Time</span>
                <span class="h5 secondary-text">Recent Datapoints from your sources</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="widget1SelectedYear = '2016'"
                     [ngClass]="{'blue-700': widget1SelectedYear === '2016'}">
                    Social Media
                </div>
                <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                     (click)="widget1SelectedYear = '2017'"
                     [ngClass]="{'blue-700': widget1SelectedYear === '2017'}">
                    Classroom Monitoring
                </div>
                <div class="py-8 px-12 border-radius-2 line-height-1 cursor-pointer"
                     (click)="widget1SelectedYear = '2018'"
                     [ngClass]="{'blue-700': widget1SelectedYear === '2018'}">
                    Chatbot
                </div>
            </div>
        </div>

        <div class="position-relative h-256 pb-16 blue-600">
            <canvas baseChart
                    [datasets]="widgets.widget1.datasets[widget1SelectedYear]"
                    [labels]="widgets.widget1.labels"
                    [colors]="widgets.widget1.colors"
                    [options]="widgets.widget1.options"
                    [chartType]="widgets.widget1.chartType">
            </canvas>
        </div>

    </div>

    <div class="content">

        <div class="left mr-lg-32">

            <div class="pb-24 font-size-18 font-weight-300">
                How are your students doing?
            </div>

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

                <!-- Widget 2 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Identified</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget2.conversion.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget2.conversion.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget2.conversion.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget2.conversion.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget2.conversion.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of managed</div>
                            </div>

                        </div>

                        <div class="h-96 w-100-p">
                            <canvas baseChart
                                    [datasets]="widgets.widget2.datasets"
                                    [labels]="widgets.widget2.labels"
                                    [colors]="widgets.widget2.colors"
                                    [options]="widgets.widget2.options"
                                    [chartType]="widgets.widget2.chartType">
                            </canvas>
                        </div>

                    </div>

                </div>
                <!-- / Widget 2 -->

                <!-- Widget 3 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Treating</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget3.impressions.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget3.impressions.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget3.impressions.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget3.impressions.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget3.impressions.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of identified</div>
                            </div>

                        </div>

                        <div class="h-96 w-100-p">
                            <canvas baseChart
                                    [datasets]="widgets.widget3.datasets"
                                    [labels]="widgets.widget3.labels"
                                    [colors]="widgets.widget3.colors"
                                    [options]="widgets.widget3.options"
                                    [chartType]="widgets.widget3.chartType">
                            </canvas>
                        </div>

                    </div>

                </div>
                <!-- / Widget 3 -->

                <!-- Widget 4 -->
                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                    <div class="fuse-card auto-width">

                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                            <div class="pr-16">
                                <div class="h3 secondary-text">Helped</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    {{widgets.widget4.visits.value}}
                                </div>
                            </div>

                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                                     *ngIf="widgets.widget4.visits.ofTarget > 0">
                                    <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                                    <span>{{widgets.widget4.visits.ofTarget}}%</span>
                                </div>
                                <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                                     *ngIf="widgets.widget4.visits.ofTarget < 0">
                                    <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                                    <span>{{widgets.widget4.visits.ofTarget}}%</span>
                                </div>
                                <div class="ml-4 text-nowrap">of target</div>
                            </div>

                        </div>

                        <div class="h-96 w-100-p">
                            <canvas baseChart
                                    [datasets]="widgets.widget4.datasets"
                                    [labels]="widgets.widget4.labels"
                                    [colors]="widgets.widget4.colors"
                                    [options]="widgets.widget4.options"
                                    [chartType]="widgets.widget4.chartType">
                            </canvas>
                        </div>

                    </div>

                </div>
                <!-- / Widget 4 -->

            </div>

            <!-- Widget 5 -->
            <div class="pt-20 pb-24 font-size-18 font-weight-300">
                Who's at risk?
            </div>

            <div class="fuse-card auto-width">

                <div class="position-relative p-20"
                     fxLayout="row" fxLayoutAlign="space-between center">
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                 fxFlex="100">

                        <!-- Front -->
                        <div class="fuse-widget-front">

                            <mat-table #table [dataSource]="widget11.dataSource">

                                <!-- Avatar Column -->
                                <ng-container matColumnDef="avatar">
                                    <mat-header-cell fxFlex="96px" *matHeaderCellDef></mat-header-cell>
                                    <mat-cell fxFlex="96px" *matCellDef="let contact">
                                        <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                                             [src]="contact.avatar"/>
                                    </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                                    <mat-cell *matCellDef="let contact">
                                        <p class="text-truncate font-weight-600">{{contact.name}}
                                            {{contact.lastName}}</p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Position Column -->
                                <ng-container matColumnDef="department">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Department
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
                                        <p class="position text-truncate">
                                            {{contact.department}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Office Column -->
                                <ng-container matColumnDef="risk_level">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Risk Level
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                        <p class="">
                                            <mat-chip-list><mat-chip
                                             color="primary"
                                            >{{contact.risk_level}}</mat-chip> </mat-chip-list>
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Email Column -->
                                <ng-container matColumnDef="tag_source">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Source of Data
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
                                        <p class="text-center text-truncate">
                                            {{contact.tag_source}}

                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Phone Column -->
                                <ng-container matColumnDef="confidence">
                                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Confidence
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                                        <p class="number text-truncate">
                                            {{contact.confidence}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="widgets.widget11.table.columns"></mat-header-row>
                                <mat-row *matRowDef="let contact; columns: widgets.widget11.table.columns;">
                                </mat-row>
                            </mat-table>

                            <button mat-button color="primary">See More</button>
                        </div>
                        <!-- / Front -->

                    </fuse-widget>
                    <!-- / WIDGET 11 -->

                </div>



            </div>
            <!-- / Widget 5 -->

            <!-- Widget 6 -->
<!--            <div class="pt-48 pb-24 font-size-18 font-weight-300">-->
<!--                Where are your users?-->
<!--            </div>-->

<!--            <div class="fuse-card auto-width p-16">-->

<!--                <div class="position-relative h-640 pb-16">-->
<!--                    <canvas baseChart-->
<!--                            height = 640-->
<!--                            [datasets]="widgets.widget5.datasets[widget5SelectedDay]"-->
<!--                            [labels]="widgets.widget5.labels"-->
<!--                            [colors]="widgets.widget5.colors"-->
<!--                            [options]="widgets.widget5.options"-->
<!--                            [chartType]="widgets.widget5.chartType">-->
<!--                    </canvas>-->
<!--                </div>-->

<!--            </div>-->
            <!-- / Widget 6 -->

        </div>

        <div class="right">

            <div fxLayout="row wrap" fxLayout.gt-md="column">

                <!-- Widget 7 -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        What social media are they using?
                    </div>

                    <div class="fuse-card">

                        <div class="p-16">
                            <div class="h1 font-weight-300">Sessions by service</div>
                        </div>

                        <div class="h-200">
                            <ngx-charts-pie-chart
                                *fuseIfOnDom
                                [scheme]="widgets.widget7.scheme"
                                [results]="widgets.widget7.devices"
                                [doughnut]="true">
                            </ngx-charts-pie-chart>
                        </div>

                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">

                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center"
                                 *ngFor="let device of widgets.widget7.devices">

                                <div class="h4 secondary-text">{{device.name}}</div>
                                <div class="h2 font-weight-300 py-8">{{device.value}}%</div>

                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <mat-icon class="s-18 pr-4 red-fg"
                                              *ngIf="device.change < 0">
                                        arrow_downward
                                    </mat-icon>

                                    <mat-icon class="s-18 pr-4 green-fg"
                                              *ngIf="device.change > 0">
                                        arrow_upward
                                    </mat-icon>

                                    <div class="h5 red-fg"
                                         [ngClass]="{'red-fg': device.change < 0, 'green-fg': device.change > 0}">
                                        {{device.change}}%
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-divider mb-0"></div>

                        <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field>
                                <mat-select class="simplified" value="7days">
                                    <mat-option value="today">Today</mat-option>
                                    <mat-option value="yesterday">Yesterday</mat-option>
                                    <mat-option value="7days">Last 7 days</mat-option>
                                    <mat-option value="28days">Last 28 days</mat-option>
                                    <mat-option value="90days">Last 90 days</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-button color="accent">OVERVIEW</button>
                        </div>

                    </div>

                </div>
                <!-- / Widget 7 -->

                <!-- Widget 8 -->
                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">

                    <div class="pb-24 font-size-18 font-weight-300">
                        What's coming up?
                    </div>


                    <div class="card">

                        <!-- PREVIEW -->
                        <div class="card-preview">

                            <div class="fuse-card">

                                <div class="p-16 pb-0" fxLayout="row" fxLayoutAlign="space-between center">
                                    <div class="h1 pr-16">Schedule</div>

                                    <mat-form-field>
                                        <mat-select class="simplified" value="thiswk">
                                            <mat-option value="thiswk">This Week</mat-option>
                                            <mat-option value="thismo">This Month</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <mat-list>
                                    <mat-list-item>
                                        <h3 matLine>Mid Sem 2 [BE2020]</h3>
                                        <p matLine>
                                            <span class="secondary-text">In 4 days</span>
                                            <span class="text-bold">  CAUSES TRIGGER</span>
                                        </p>
                                    </mat-list-item>

                                    <mat-list-item>
                                        <h3 matLine>Counselling Session</h3>
                                        <p matLine>
                                            <span class="secondary-text">In 3 days</span>
                                        </p>
                                    </mat-list-item>

                                    <mat-list-item>
                                        <h3 matLine>Mid Sem 2 [BE2021]</h3>
                                        <p matLine>
                                            <span class="secondary-text">In 6 days</span>
                                        </p>
                                    </mat-list-item>

                                </mat-list>

                                <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
                                    <button mat-button color="accent">SEE COMPLETE SCHEDULE</button>
                                </div>

                            </div>

                        </div>

                </div>

                <!-- / Widget 8 -->

                <!-- Widget 9 -->
<!--                <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">-->

<!--                    <div class="pb-24 font-size-18 font-weight-300" [ngClass.lt-lg]="'pt-0'">-->
<!--                        What are your top campaigns?-->
<!--                    </div>-->

<!--                    <div class="fuse-card">-->

<!--                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">-->
<!--                            <div class="h1 pr-16">Top campaigns</div>-->

<!--                            <div>-->
<!--                                <button mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more">-->
<!--                                    <mat-icon>more_vert</mat-icon>-->
<!--                                </button>-->

<!--                                <mat-menu #card20Menu="matMenu">-->
<!--                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>-->
<!--                                        <mat-icon color="accent">check_box</mat-icon>-->
<!--                                        <span>Show Clicks</span>-->
<!--                                    </button>-->
<!--                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>-->
<!--                                        <mat-icon color="accent">check_box</mat-icon>-->
<!--                                        <span>Show Conversion</span>-->
<!--                                    </button>-->
<!--                                    <button fxLayout="row" fxLayoutAlign="start center" mat-menu-item>-->
<!--                                        <mat-icon>check_box_outline_blank</mat-icon>-->
<!--                                        <span>Show CPC</span>-->
<!--                                    </button>-->
<!--                                </mat-menu>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <table class="simple clickable">-->
<!--                            <thead>-->
<!--                                <tr>-->
<!--                                    <th></th>-->
<!--                                    <th class="text-right">Clicks</th>-->
<!--                                    <th class="text-right">Conv</th>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                                <tr *ngFor="let row of widgets.widget9.rows">-->
<!--                                    <td>{{row.title}}</td>-->
<!--                                    <td class="text-right">{{row.clicks}}</td>-->
<!--                                    <td class="text-right">{{row.conversion}}</td>-->
<!--                                </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->

<!--                        <div class="card-divider full-width"></div>-->

<!--                        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">-->
<!--                            <button mat-button color="accent">GO TO CAMPAIGNS</button>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->
                <!-- / widget 9 -->

            </div>

        </div>

    </div>

</div>
