<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Sentiment Card</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="'assets/images/avatars/'+sentimentReview.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="sentimentReview.name"/>
            <div class="contact-name mt-8">{{sentimentReview.name}} {{sentimentReview.lastName}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <div fxLayout="row" fxLayoutAlign="start start">
            <canvas baseChart
                    [datasets]="radarChartData"
                    [options]="radarChartOptions"
                    [labels]="sentiChartLabels"
                    [chartType]="radarChartType">
            </canvas>

        </div>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button
                mat-button
                (click)="matDialogRef.close()"
                class="save-button"
                aria-label="DONE">
            DONE
        </button>

    </div>
</div>
